.button {
  text-decoration: none;
  color: white;
  background-color: #fe7865;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--submit {
  border: none;
  margin: 0 auto;
  display: block;
}
