.callback-block {
  display: flex;
  background: linear-gradient(to right, #ff9481 844px, white 844px);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 844px;
  background-image: url("../img/bg-form.jpg");
  min-height: 455px;
  margin-bottom: 170px;
}

.callback-block__form {
  margin-left: auto;
  align-self: center;
}


@media (max-width: $tablet-width-only) {
  .callback-block {
    background-size: auto;
    margin-bottom: 80px;
  }

  .callback-block__form {
    margin: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .callback-block {
    background: none;
    min-width: 10px;
    display: block;
  }
}
