.contacts__wrapper {
  padding-left: 90px;
  padding-right: 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
}

.contacts__block {
  display: flex;
  flex-wrap: wrap;
}

.contacts__email,
.contacts__phone {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #fe7865;

  &:hover,
  &:focus {
    color: #f17d4b;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__email {
  margin-bottom: 20px;
}
