.country {
  position: relative;
}

.country__wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-country.png");
  display: flex;
  min-height: 1090px;
}

.country__inner {
  max-width: 425px;
  width: 100%;
  margin-right: 45px;
}

.country__title {
  margin-bottom: 52px;
}

.country__description {
  max-width: 370px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 28px;
  letter-spacing: -0.466667px;
}

.country__image {
  width: 430px;
  height: 596px;
}

.country__link-block {
  display: flex;
}

@media (max-width: $tablet-width-only) {
  .country-block {
    margin-bottom: 112px;
  }

  .country__wrapper {
    background-image: none;
    display: block;
    min-height: 10px;
  }

  .country__inner {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  .country__title {
    text-align: center;
  }

  .country__description {
    max-width: 100%;
    text-align: center;
  }

  .country__link {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .country__image {
    width: 768px;
    height: 415px;
  }
}
