.form__title {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #141517;
}

.form__description {
  margin: 0;
  line-height: 24px;
  text-align: center;
  color: #141517;
}

.form__input {
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}
