.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.main-nav__logo-block {
  width: 58px;
  height: 22px;
  margin-right: 20px;
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  max-width: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-right: 40px;
}

.main-nav__link {
  text-decoration: none;
  color: #141517;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.main-nav__phone {
  text-decoration: underline;
  color: #fe7865;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
