.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: #141517;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.main-nav__phone {
  text-decoration: underline;
  color: #fe7865;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
