.package {
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;

  &:hover,
  &:focus {
    border-color: #fe7865;
  }
}

.package__wrapper {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 672px;
  padding: 30px;
  padding-top: 40px;
}

.package__header {
  margin: 0;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.package__label {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  color: rgba(20, 21, 23, 0.7);
}

.package__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: right;
  color: rgba(20, 21, 23, 0.7);
}

.package__include {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 28px;
  line-height: 24px;
  color: #2c2e3f;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
}

.package__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 32px;
  color: #2c2e3f;
}

.package__item {
  display: flex;
  margin-bottom: 15px;

  &::before {
    content: "";
    width: 14px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/check-complex.png");
    margin-top: 10px;
    margin-right: 16px;
  }
}

.package__item--economical {
  &::before {
    width: 22px;
    height: 22px;
    background-image: url("../img/check-economical.png");
  }
}

.package__buy {
  margin-top: auto;
}


@media (max-width: $tablet-width-only) {
  .package__wrapper {
    padding: 0;
    padding-top: 30px;
    width: 288px;
  }

  .package__header {
    display: block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .package__label,
  .package__price {
    display: block;
    text-align: center;
  }

  .package__include {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .package__list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
