.places-visit {
  margin-top: 199px;
}

.places-visit__title {
  max-width: 360px;
  margin-bottom: 64px;
}

.places-visit__description {
  max-width: 330px;
  margin: 0;
  margin-bottom: 56px;
  line-height: 28px;
  letter-spacing: -0.466667px;
}

.places-visit__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.places-visit__item {
  position: relative;
  margin-bottom: 101px;
  margin-right: 60px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.places-visit__link {
  display: flex;
  text-decoration: none;
  color: #2c2e3f;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;

  &:hover .places-visit__action,
  &:focus .places-visit__action {
    opacity: 1;
  }
}

.places-visit__image {
  width: 350px;
  height: 430px;
}

.places-visit__label {
  max-width: 243px;
  width: 100%;
  padding: 15px 30px;
  position: absolute;
  background-color: white;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.places-visit__action {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 21, 23, 0.6);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.places-visit__detail {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $tablet-width-only) {
  .places-visit {
    margin-top: 80px;
    margin-bottom: 97px;
  }

  .places-visit__title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .places-visit__description {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  .places-visit__list {
    justify-content: center;
  }

  .places-visit__item {
    margin-bottom: 19px;
    margin-right: 29px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 29px;
    }
  }

  .places-visit__image {
    width: 288px;
    height: 425px;
  }
}
