.price {
  display: flex;
  margin-bottom: 138px;
}

.price__title {
  margin-bottom: 53px;
}

.price__description {
  margin: 0;
  margin-bottom: 60px;
  line-height: 27px;
}

.price__contact-us {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #141517;
}

.price__phone {
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  color: black;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.price__wrapper {
  margin-bottom: 40px;
  order: -1;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.price__item {
  margin-right: 30px;
}

.price__item:last-child {
  margin-right: 111px;
}

@media (max-width: $tablet-width-only) {
  .price {
    flex-direction: column;
  }

  .price__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .price__description {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .price__contact-us {
    text-align: center;
    margin-bottom: 10px;
  }

  .price__phone {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: #fe7865;
    text-decoration: underline;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .price__wrapper {
    order: 0;
  }

  .price__list {
    justify-content: center;
  }

  .price__item {
    display: flex;
    margin-right: 50px;
  }

  .price__item:last-child {
    margin-right: 50px;
  }
}
