.promo {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  background-color: #497794;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-promo.jpg");
  width: $max-desktop-width;
  min-height: 860px;
}

.promo__title {
  margin: 0;
  margin-top: 185px;
  margin-bottom: 30px;
  margin-right: 433px;
  max-width: 412px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.promo__description {
  margin: 0;
  margin-bottom: 39px;
  margin-right: 469px;
  max-width: 376px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  color: white;
}

.promo__link {
  max-width: 340px;
  width: 100%;
  margin-right: 505px;
}


@media (max-width: $tablet-width-only) {
  .promo {
    width: $tablet-width;
    min-height: 344px;
    background-image: url("../img/bg-promo-tablet.jpg");
  }

  .promo__title {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .promo__description {
    max-width: 400px;
    margin: 15px auto;
    text-align: center;
  }

  .promo__link {
    margin: 0 auto;
  }
}
