.reviews__title {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: #2c2e3f;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
}

.reviews__author-name {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.466667px;
  color: #2c2e3f;
}
