.reviews {
  position: absolute;
  top: 100px;
  right: 0;
  max-width: 382px;
  background-color: white;
  padding: 30px;
}

.reviews__title {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: #2c2e3f;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -15px;
    width: 22%;
    height: 4px;
    background-color: #fe7865;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
}

.reviews__author-name {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.466667px;
  color: #2c2e3f;
}
