.title-h2 {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: #2c2e3f;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -30px;
    width: 65%;
    height: 4px;
    background-color: #fe7865;
  }
}

@media (max-width: $tablet-width-only) {
  .title-h2 {
    font-size: 30px;
    line-height: 45px;
    text-align: center;

    &::after {
      content: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .title-h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
