.main-menu-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
}

.main-menu-toggle svg {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .main-menu-toggle {
    display: block;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    background-color: #fe7865;
    width: 72px;
    height: 50px;
    cursor: pointer;
  }

  .main-menu-toggle svg {
    display: block;
    margin: 0 auto;
  }
}
